<!DOCTYPE html>
<html data-ng-app>
    <head>
        <title>TA Reminder Poc</title>
        <script src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
        <link href="stylesheets/reminder.css" rel="stylesheet" type="text/css" />
        
        <!-- optional style sheet, can be safely removed-->
        <style type="text/css">
            form input.ng-invalid.ng-dirty {
                background-color:#FA787E;
            }
            form input.ng-valid.ng-dirty {
                background-color:#78FA89;
            }
        </style>
        <!-- optional style sheet ends -->
    </head>

    <body class="body_stuff">
        <!--===============================HEADER===============================-->
        <section id="s_header" >
            <div>
                <img id="ta_icon_top" src="img/icon.jpg" alt="TA_icon" />
            </div>
            <div id="reminder_title"> Reminder - Message Sender POC </div>
        </section>

        <div class="space"></div>

        <!--================================BODY================================-->
        <section id="s_body" class="s_lvl_0">
            <div id="contents">
                <div id="inputform">
                    <form name="remForm" action="http://techieasians.herokuapp.com/Send" method="post" novalidate>
                        <h1>Contact Information</h1>
                        <table>
                            <tr>
                                <td>Name:</td>
                                <td><input type="text" name="fullName" class="mod_in" data-ng-model="nameValue"></td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td ><input class="mod_in" type="text" name="phoneNumber" data-ng-model="phoneValue" data-ng-minlength="10" data-ng-pattern="/^[0-9]+$/"></td>
                                <td data-ng-hide="!phoneValue || remForm.phoneNumber.$invalid || remForm.phoneNumber.$pristine"><input type="checkbox" name="cbPhone" data-ng-model="phoneCheck" checked="checked">Remind by Text</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td ><input class="mod_in" type="email" data-ng-model="emailValue" name="email"></td>
                                <td data-ng-hide="!emailValue || remForm.email.$invalid || remForm.email.$pristine"><input type="checkbox" name="cbEmail"  data-ng-model="emailCheck" checked="checked">Remind by Email</td>
                            </tr>
                        </table>
        
                        <h5 data-ng-show="!(!!phoneValue || !!emailValue) || !(!!phoneCheck || emailCheck)">
                            Note: please provide at least one way for us to remind you.
                        </h5>
                        <hr>
                        <h1>Reminder Settings</h1>
                        
                        <table>
                            <tr>
                                <td>Time/Date: </td>
                                <td> <input class="mod_in" type="datetime-local" name="date"></td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td> <input class="mod_in" type="text" name="notes" placeholder="additional notes!"></td>
                            </tr>
                            <tr>
                                <td>Reminder Time: </td>
                                <td>
                                    <select class="mod_in" size="1" id="n_reminder_Time" name="reminderTime">
                                        <option value=""> - Select - </option>
                                        <option value="015">15 minutes before</option>
                                        <option value="030">30 minutes before</option>
                                        <option value="060">1 hour before</option>
                                        <option value="120">2 hours before</option>
                                        <option value="180">3 hours before</option>
                                        <option value="360">6 hours before</option>
                                        <option value="720">12 hours before</option>
                                        <option value="1000">1 day before</option>
                                        <option value="2000">2 days before</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="submit" data-ng-disabled="!(!!phoneValue || !!emailValue) || !(!!phoneCheck || emailCheck) || !(!!nameValue)" value="Remind"></td>
                            </tr>
                        </table>
                    </form>
                </div>

                <!--=======================Embed Calendar==================-->
                <div id="calendar">
                    <iframe src="https://www.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=v4v0p249udr68is3fhqq2604og%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="300" height="300" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </section>

        <div class="space1"></div>
        
        <!--===============================FOOTER===============================-->
        <section id="s_footer" >
            <div>
                <img id="ta_icon" src="img/icon.jpg" alt="TA_icon" />
            </div>
        </section>
    </body>
</html>