<!DOCTYPE html>
<html>
  <head>
    <title>Physical Therapy Scheduler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>The Techie Asians' Physical Therapy Scheduler</h1>
    <p>Welcome to Techie Asians Home Page, more coming soon!</p>
    <img src='/public/images/TA.jpg' alt = "team_logo" />
    <form action="/Send" method="post">
        <div>
            <label>Phone Number:</label>
            <input type="text" name="number"/><br/>
        </div>
        <div>
            <label>Email address:</label>
            <input type="text" name="email"/><br/>
        </div>
        <div><input type="submit" value="Sign Up"/></div>
    </form>
  </body>
</html>
