<!DOCTYPE html>
<html data-ng-app>
    <head>
        <title>TA Reminder Poc</title>
        <script src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
        <link href="stylesheets/reminder.css" rel="stylesheet" type="text/css" />
        <!-- optional style sheet, can be safely removed-->
        <style type="text/css">
            form input.ng-invalid {
                background-color:#FA787E;
            }
            form input.ng-valid {
                background-color:#78FA89;
            }
            form input.ng-pristine {
            	background-color:white;
            	color:init;
            }
        </style>
        <!-- optional style sheet ends -->
    </head>

    <body class="body_stuff">
        <!--===============================HEADER===============================-->
        <section id="s_header" >
            <div>
                <img id="ta_icon_top" src="img/icon.jpg" alt="TA_icon" />
            </div>
            <div id="reminder_title"> Reminder - Message Sender POC </div>
        </section>
        <div class="space"></div>
        <!--================================BODY================================-->
        <section id="s_body" class="s_lvl_0">
            <div id="contents">
                <div>
                    <h1>Hello {{nameValue}}!</h1>
                </div>
                <form name="remForm" action="/Send" method="post" novalidate>
                    <h1>Contact Information</h1>
                    
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" name="fullName" class="mod_in" data-ng-model="nameValue"></td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td ><input class="mod_in" type="text" name="phoneNumber" data-ng-model="phoneValue" data-ng-minlength="10" data-ng-pattern="/^[0-9]+$/"></td>
                            <td data-ng-hide="!phoneValue || remForm.phoneNumber.$invalid || remForm.phoneNumber.$pristine"><input type="checkbox" name="cbPhone" data-ng-model="phoneCheck" checked="checked">Remind by Text</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td ><input class="mod_in" type="email" data-ng-model="emailValue" name="email"></td>
                            <td data-ng-hide="!emailValue || remForm.email.$invalid || remForm.email.$pristine"><input type="checkbox" name="cbEmail"  data-ng-model="emailCheck" checked="checked">Remind by Email</td>
                        </tr>
                    </table>

                    <h5 data-ng-show="!(!!phoneValue || !!emailValue) || !(!!phoneCheck || emailCheck)">
                        Note: please provide at least one way for us to remind you.
                    </h5>
                    <hr>
                    <h1>Reminder Settings</h1>
                    
                    <table>
                        <tr>
                            <td>Time/Date: </td>
                            <td> <input class="mod_in" type="datetime-local" name="date"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td> <input class="mod_in" type="text" name="notes" placeholder="additional notes!"></td>
                        </tr>
                        <tr>
                            <td>Reminder Time: </td>
                            <td>
                                <select class="mod_in" size="1" id="n_reminder_Time" name="reminderTime">
                                    <option value=""> - Select - </option>
                                    <option value="1">15 minutes before</option>
                                    <option value="2">30 minutes before</option>
                                    <option value="3">1 hour before</option>
                                    <option value="4">2 hours before</option>
                                    <option value="5">3 hours before</option>
                                    <option value="6">6 hours before</option>
                                    <option value="7">12 hours before</option>
                                    <option value="8">1 day before</option>
                                    <option value="9">2 days before</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="submit" data-ng-disabled="!(!!phoneValue || !!emailValue) || !(!!phoneCheck || emailCheck) || !(!!nameValue)" value="Remind"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </section>

        <div class="space1"></div>
        <!--===============================FOOTER===============================-->
        <section id="s_footer" >
            <div>
                <img id="ta_icon" src="img/icon.jpg" alt="TA_icon" />
            </div>
            <!--<div>
                <img id="tech_logo" src="img/tech_logo.png" alt="tech">
            </div>-->
        </section>
    </body>
</html>
